html{
  height: 100%;
}

body {
  height: 100%;
  font-family: 'MS Gothic', sans-serif;
}

#app{
  height: 100%;
  background-color: white;
}

/* 統一文字色 */
.font-color-w{
  color: white;
}

.font-color-b{
  color: black;
}

/* 背景色 */
.main-headercolor{
  background-color: rgb(255, 166, 0);
}

.main-backcolor{
  background-color: #facd6d;
}

/* ボーダー色 */
.border-color{
  border-color: gray;
}

/* タイトル(冷蔵庫・冷凍庫) */
.title{
  font-size: 1.2em;
  font-weight: bold;
}

/* boxレイアウト */
.box{
  display: flex;
  width: 100%;
  background-color: rgb(255, 166, 0);
  border: 1px solid white;
}

.leftBox, .centerBox, .rightBox{
  align-items: center;
  width: 30%;
}

.leftBox{
  display: flex;
  margin-left: 5%;
}

.centerBox{
  display: flex;
  text-align: center;
  justify-content: center;
}

.rightBox{
  margin-right: 5%;
  text-align: right;
}

.itemName{
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.footer-parts{
  display: flex;
  justify-content: space-between
}

.expiration{
  text-align: left;
  margin: 0;
  padding: .5em .2em;
}

.edit a{
  text-decoration: none;
  margin: 0;
  color: #FFFFFF;
}

/* 食べた！（削除）ボタン */
.ate{
  margin:5% 0;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.ate:hover, .ate:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.ate:active {
  opacity: .5;
}

.edit{
  margin-bottom:5%;
  background: rgb(0, 119, 255);
  border: 1px solid rgb(0, 119, 255);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.edit:hover, .edit:active{
  background-color: initial;
  background-position: 0 0;
  color: rgb(0, 119, 255);
}

.edit a:hover{
  color: rgb(0, 119, 255);
}

.edit:active {
  opacity: .5;
}

/* フッター固定メニューバー */
.footer-menu-bar{
	position: fixed;       /* 要素の位置を固定する */
	bottom: 0px;           /* 絶対位置を指定する(下0px) */
  text-align: center;
}

/* inputスタイル */
.input{
  width: 100%;
  height: 2em;
}

/* ラベルスタイル */
.label{
  width: 100%;
  color: white;
  background-color: rgb(255, 166, 0);
  margin: 5px 0;

}